.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 200px;
    
}
.open-sans-easyer{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.cont{
    display:flex;
    align-items: center;
  
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    

}
.colour{
    color: #FD6E0A;
}
.cont li{
    list-style-type:none;
    margin-right: 20px;
}
.cont li a {
    text-decoration: none;
}
.text-colour{
    color: #474747;
}
.cont li button{
    background-color: #FD6E0A;
    padding: 14px 30px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    color: white;
}
/* 2nd section */
.banner{
    display: flex;
    justify-content: space-between;
    padding: 0 18px 0 220px;
    align-items: center;
}
.short{
    font-size: 45px;
    font-weight: 600;
}
.text-title{
    font-weight: bold;
    font-size: 85px;
}
.mota-container{
    max-width: 580px;
}
.mota-image{
    width: 450px;
    height: 650px;
}
.mota-button{
    background-color: #FD6E0A;
    padding: 14px 30px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    color: white;
}
.background-colour{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top ,right bottom;
    background-color:#FFF8F3 ;
}
/* about section */
main{
    max-width:1140px ;
    margin: 0 auto;
}
.about{
    /* margin: 130px 230px; */
    background-color:#FFF8F3 ;
   padding: 130px 150px;
   /* align-items: center; */
   margin-top:130px;
   text-align: center;
}

.about-heading{
    font-weight: bold;
    font-size: 35px;
}
.about-footer{
    display: flex;
    justify-content: space-around;
}

/* skill items */
.text-center{
    text-align:center;
}
.image-container{
    display: flex;
    gap: 25px;
    border-radius:5px ;
    /* box-shadow: 0px 6px 50px 0px black; */
    /* padding: 30px; */
    
}
.skill-image{box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
    padding: 30px;

}
main section{
    /* margin-top: 130px; */
    /* margin-bottom: 130px; */
    margin: 130px 0px 130px 0px;
}
.text-aline{
    padding-bottom:30px ;
}

/* resume */
.resume-main-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgba(24, 24, 24, 1);
}
.resume-container{
    display: flex;
    gap: 24px;
}
.coloum-title{
    font-weight: bold;
    font-size: 30px;
    /* dark 2 */
    color: rgba(71, 71, 71, 1);
}

.coloum-item{
    margin: 30px 70px 30px 0px;
}
.item-role{
    font-size: 20px;
    font-weight: bold;
     color: rgba(71, 71, 71, 1);
}
.item-sub{
    font-size:18px ;
    font-weight:600px ;
    /* dark 3 */
    color: rgba(117, 117, 117, 1);}

.button-cv{
    text-align: center;
    

}
.button-cv button{
    background-color: #FD6E0A;
    padding: 14px 30px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    color: white;
}